@{
    ViewBag.Title = "O nas";
}
<h2>@ViewBag.Title</h2>

<p>
    Dokładamy wszelkich starań, aby rosło zadowolenie naszych pacjentów.<br/>
    System jest ciągle w budowie, za małe niedogodności przepraszamy.
</p>
