@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<address>
    Mikrus Development Group<br />
    Warszawa, ul. Waryńskiego 10<br />
    DS Mikrus, pok. 425, pok. 704<br />
    <abbr title="Telefon">Tel:</abbr>
    733-300-118
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>