@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Witamy w wirtualnej klinice!</h1>
    <p class="lead">Dzięki nam masz dostęp do systemu rezerwacji wizyt bez wychodzenia z domu.</p>
    <p><a href='@Url.Action("Login", "Account")' class="btn btn-default">Zaloguj się &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Funkcjonalności</h2>
        <table>
            <tbody>
                <tr>
                    <th>
                        <a href='@Url.Action("Index", "Patients")' class="btn btn-default">Lista pacjentów &raquo;</a><br/>
                    </th>
                </tr>
                <tr>
                    <th>
                        <a href='@Url.Action("Index", "Doctors")' class="btn btn-default">Lista lekarzy &raquo;</a><br />
                    </th>
                </tr>
                <tr>
                    <th>
                        <a href='@Url.Action("Index", "Clinics")' class="btn btn-default">Lista klinik &raquo;</a><br />
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>*@